* {
    margin:0;
}

body {
    display: flex;
    position: relative;
}

.div {
    height:150px;
    width:150px;
    color:aliceblue;
    background-color: black;
    position:absolute;
}

#div2,#div4 {
    background-color: rgb(67, 65, 65);
}

#div2 {
    top:75px;
    left:75px;
}

#div3 {
    top: 150px;
    left: 150px;
}

#div4 {
    top:225px;
    left:225px;
}

#div5 {
    top:300px;
    left:300px;
}