* {
    margin:0;
}

.container {
    display: flex;
    height: 600px;
    width: 300px;
    color: white;
    background-color: rgb(54, 52, 52);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.div1 {
    height: 150px;
    width: 150px;
    background-color: black;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
}