.container{
    display:flex;
    flex-direction: column;
}

.div {
    color: white;
    background-color: black;
    height:150px;
    width: 150px;
}

.first{
    display: flex;
    justify-content: end;
}

.second{
    display: flex;
    justify-content: center;
}

.third{
    display: flex;
    justify-content: start;
}
