* {
    margin:0;
}

.container {
    height: 700px;
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.largediv {
    height: 400px;
    width: 400px;
    background-color: rgb(57, 56, 56);
}

.smalldiv {
    height: 200px;
    width: 200px;
    background-color: black;
}

.container1, .container2{
    height:100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#div1 {
    justify-self: flex-start;
    align-self: flex-end;
}

#div2 {
    justify-self: flex-end;
    align-self: flex-start;
}

#div4 {
    justify-self: flex-start;
    align-self: flex-end;
}

#div3 {
    justify-self: flex;
    align-self: flex-start;
}