* {
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    flex-direction: column;
}

.div {
    height: 150px;
    width: 150px;
    color: white;
    background-color: black;
}

.first {
    display: flex;
    justify-content: start;
}

.second {
    display: flex;
    justify-content: center;
}

.third {
    display: flex;
    justify-content: end;
}