*{
    margin:0;
}

#div1 {
    display:flex;
    height: 700px;
    width: 350px;
    background-color: rgb(60, 57, 57);
    justify-content: end;
    align-items: end;
    position:relative;
}

#div2 {
    display: flex;
    height:50%;
    width:80%;
    background-color: black;
    position:absolute;
    left: 60%;
    justify-content: start;
    align-items: end;
}

#div3 {
    height: 30%;
    width: 60%;
    background-color: gray;
    position: absolute;
    bottom: -120px;
}