* {
    margin:0;
    padding:0;
}

.container {
    margin: 20px 0 0 0;
    display:flex;
    justify-content: center;
}

.first {
    display: flex;
    height: 300px;
    width: 300px;
    color: white;
    background-color: gray;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.second {
    height: 150px;
    width: 150px;
    color: white;
    background-color: black;
}