*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    justify-items:flex-end;
    align-items: flex-end;
}

.container {
    display: flex;
    height: 200px;
    width: 550px;
    color: white;
    background-color: gray;
    /* justify-content: end; */
    /* flex-direction: row; */
}

.div {
    height: 150px;
    width: 150px;
    background-color: black;
}

.div1 {
    align-self:flex-end;
}

.div2 {
    align-self:flex-start;
    position:absolute;
    right: 0;
} 