*{
    margin:0;
}

.container {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: rgb(51, 50, 50);
    justify-content: end;
}

.div1 {
    height: 150px;
    width: 150px;
    background-color: black;
}