*{
    margin: 0;
    padding: 0;
}

.container {
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.second{
    display: flex;
    gap: 10px;
}

.box {
    width: 150px;
    height: 150px;
    color: white;
    background-color: black;
}