* {
    margin:0;
}

.container {
    display: flex;
    justify-content: end;
}

#div1 {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: gray;
    align-items: end;
}

#div2 {
    height: 50%;
    width:50%;
    background-color: black;
}