* {
    margin:0;
}

body {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

.div1 {
    display: flex;
    width:350px;
    height:750px;
    background-color: rgb(42, 42, 40);
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.div2 {
    display: flex;
    width:80%;
    height:50%;
    background-color: black;
    justify-content: end;
    align-items: end;
}

.div3 {
    margin: 0 15px 15px 0;
    width:80%;
    height:65%;
    background-color: gray;
}