* {
    margin:0;
}

.div1 {
    display: flex;
    height: 350px;
    width: 350px;
    color: white;
    background-color: rgb(39, 39, 42);
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    align-self: end;
}
