* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.div {
    width:150px;
    height:150px;
    color: white;
}

.first {
    background-color: black;
}

.second {
    position: absolute;
    top: 75px;
    left: 75px;
    background-color: gray;
}