* {
    margin:0;
}

.container {
    display: flex;
    margin:40px 0 0 0;
    justify-content: center;
}

.div1 {
    display: flex;
    height: 200px;
    width: 500px;
    background-color: rgb(58, 54, 54);
    align-items: center;
    justify-content: center;
    gap:30%;
}

.div {
    height: 135px;
    width: 135px;
    background-color: black;
}